In [1]:
import pandas as pd
import numpy as np

In [2]:
df_EDA = pd.read_csv('hr_raw_data_final.csv', index_col=0)

In [3]:
df_EDA.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1678 entries, 0 to 1677
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       1678 non-null   object
 1   attrition                 1678 non-null   object
 2   businesstravel            877 non-null    object
 3   dailyrate                 1678 non-null   float64
 4   department                312 non-null    object
 5   distancefromhome          1678 non-null   int64
 6   education                 1678 non-null   int64
 7   educationfield            904 non-null    object
 8   employeecount             1678 non-null   int64
 9   employeenumber            1678 non-null   int64
 10  environmentsatisfaction   1678 non-null   int64
 11  gender                    1678 non-null   int64
 12  hourlyrate                411 non-null    float64
 13  jobinvolvement            1678 non-null   int64
 14  joblevel                  1678 non-null   int64
 15  jobrole                   1678 non-null   object
 16  jobsatisfaction           1678 non-null   int64
 17  maritalstatus             1003 non-null   object
 18  monthlyincome             1189 non-null   object
 19  monthlyrate               1678 non-null   object
 20  numcompaniesworked        1678 non-null   int64
 21  over18                    740 non-null    object
 22  overtime                  982 non-null    object
 23  percentsalaryhike         1678 non-null   int64
 24  performancerating         1478 non-null   object
 25  relationshipsatisfaction  1678 non-null   int64
 26  standardhours             1327 non-null   object
 27  stockoptionlevel          1678 non-null   int64
 28  totalworkingyears         1129 non-null   object
 29  trainingtimeslastyear     1678 non-null   int64
 30  worklifebalance           1564 non-null   object
 31  yearsatcompany            1678 non-null   int64
 32  yearsincurrentrole        35 non-null     object
 33  yearssincelastpromotion   1678 non-null   int64
 34  yearswithcurrmanager      1678 non-null   int64
 35  sameasmonthlyincome       1189 non-null   object
 36  datebirth                 1678 non-null   int64
 37  salary                    1393 non-null   object
 38  roledepartament           312 non-null    object
 39  numberchildren            0 non-null      float64
 40  remotework                1678 non-null   object
dtypes: float64(3), int64(18), object(20)
memory usage: 550.6+ KB

In [ ]:
# no ejecutamos para añadir cambios.

def exploracion(df):

    df_info = pd.DataFrame()

    df_info["% nulos"] = round(df.isna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["% no_nulos"] = round(df.notna().sum()/df.shape[0]*100, 2).astype(str)+"%"
    df_info["tipo_dato"] = df.dtypes
    df_info["num_valores_unicos"] = df.nunique()

    print(f"""El DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.
Tiene {df.duplicated().sum()} datos duplicados, lo que supone un porcentaje de {round(df.duplicated().sum()/df.shape[0], 2)}% de los datos.

Hay {len(list(df_info[(df_info["% nulos"] != "0.0%")].index))} columnas con datos nulos, y son: 
{list(df_info[(df_info["% nulos"] != "0.0%")].index)}

y sin nulos hay {len(list(df_info[(df_info["% nulos"] == "0.0%")].index))} columnas y son: 
{list(df_info[(df_info["% nulos"] == "0.0%")].index)}


A continuación tienes un detalle sobre los datos nulos y los tipos y número de datos:""")
    
    display(df_info.head())

    print("Principales estadísticos de las columnas categóricas:")

    display(df.describe(include="O").T)

    print("Principales estadísticos de las columnas numéricas:")

    display(df.describe(exclude="O").T)

    return df_info