In [2]:
import pandas as pd
import numpy as np
from scipy.stats import shapiro, levene
from scipy.stats import ttest_ind
from scipy.stats import mannwhitneyu
from scipy.stats import chi2_contingency
import seaborn
#import scipy.stats as stats
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest
# Visualizaci√≥n
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../data/hr_raw_data_definitivo.csv', index_col=0)
df.head()

,employee_number,attrition,job_level,job_role,department,monthly_income,salary,percent_salary_hike,training_times_last_year,stock_option_level,hourly_rate,daily_rate,monthly_rate,standard_hours,overtime,business_travel,distance_from_home,remote_work,environment_satisfaction,job_involvement,job_satisfaction,performance_rating,relationship_satisfaction,work_life_balance,date_birth,age,gender,marital_status,education,education_field,num_companies_worked,total_working_years,years_at_company,years_since_last_promotion,years_with_curr_manager
0,1,No,5,research director,research & development,16280.83,195370.00,13,5,0,251.97,2015.72,42330.17,Full Time,No,non-travel,6,Yes,1,3,3,3.0,3,3.0,1972,52,M,NaN,3,other,7,NaN,20,15,15
1,2,No,5,manager,general,16665.83,199990.00,14,5,1,257.92,2063.39,43331.17,Full Time,NaN,non-travel,1,Yes,3,2,3,3.0,1,3.0,1971,53,M,NaN,4,life sciences,0,34.0,33,11,9
2,3,No,5,manager,research & development,16026.67,192320.00,11,3,0,248.03,1984.25,41669.33,Full Time,No,travel_rarely,4,Yes,3,3,4,3.0,4,3.0,1981,43,M,married,2,technical degree,1,22.0,22,11,15
3,4,No,4,research director,research & development,14307.50,171690.00,19,2,2,221.43,1771.40,37199.50,Full Time,NaN,travel_rarely,2,No,1,3,3,3.0,2,3.0,1976,48,F,married,4,medical,3,NaN,20,5,6
4,5,No,4,sales executive,sales,12783.92,153407.04,12,5,1,197.85,1582.77,33238.20,Full Time,No,non-travel,3,No,1,4,1,3.0,4,3.0,1977,47,F,divorced,3,technical degree,2,NaN,19,2,8

In [33]:
df["satisfaction"] = np.where(df["job_satisfaction"] < 3, "not satisfied", "satisfied")
df[["job_satisfaction", "satisfaction"]].head()

   job_satisfaction   satisfaction
0                 3      satisfied
1                 3      satisfied
2                 4      satisfied
3                 3      satisfied
4                 1  not satisfied

In [34]:
grupo_control = df[df['satisfaction'] == 'satisfied']

In [35]:
grupo_variante = df[df['satisfaction'] == 'not satisfied']

In [ ]:
grupo_control_porc_rotacion = grupo_control[grupo_control['attrition'] == 'Yes'].count() / grupo_control.shape[0] * 100
grupo_control_porc_rotacion

KeyError: np.int64(995)